<!DOCTYPE html>
<html lang="es"   >
<head >
	<meta charset="UTF-8">
	<title>Document</title>

	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-route/angular-route.js"></script>
	<script src="../bower_components/angular-resource/angular-resource.js"></script>

</head>
<body ng-app="chatApp" >
	<!-- =%> -->
	<div ng-view ></div>


	<script src="socket.io/socket.io.js"></script>
 	 <!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="./scripts/app.js"></script>
		<script src="./scripts/services/register.js"></script>
		<script src="./scripts/controllers/news.js"></script>
		<script src="./scripts/controllers/login.js"></script>
		<script src="./scripts/controllers/account.js"></script>
		<script src="scripts/services/auth.js"></script>
		<!-- endbuild -->
</body>
</html>



































